<form class="mt-4">

    @*MARCADOR*@
    <h2 class="fancy text-black fuente fw-bold" style="--w: 50vw;--c: #C7FFED;--b:4px;--g: 40px">Cuestionario</h2>


    <p>
        <font class="fuente" size="4">
            <button type="button" class="btn btn-sm rounded-pill text-white" style="width: 2rem; height:2rem; background: #008F8C;" disabled>1</button>
            Me conozco a mí mismo, sé lo que pienso, lo que
            siento y lo que hago.
        </font>
    </p>
    <p>
        <font class="fuente" size="3">
            <input name=1 onClick="Engine(1, this.value)" type=radio value=a>
            a. La lógica combinatoria y secuencial.
        </font>
    </p>
    <p>
        <font class="fuente" size="3">
            <input name=1 onClick="Engine(1, this.value)" type=radio value=b>
            b. La lógica relacional.
        </font>
    </p>
    <p>
        <font class="fuente" size="3">
            <input name=1 onClick="Engine(1, this.value)" type=radio value=c>
            c. La lógica conceptual.
        </font>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>2</button>
        Soy capaz de auto motivarme para aprender,
        estudiar, aprobar, conseguir algo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>3</button>
        Cuando las cosas me van mal, mi estado de ánimo
        aguanta hasta que las cosas vayan mejor.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>

    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>4</button>
        Llego a acuerdos razonables con otras personas
        cuando tenemos posturas enfrentadas.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>5</button>
        Sé qué cosas me ponen alegre y qué cosas me
        ponen triste.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>6</button>
        Sé lo que es más importante en cada momento.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>7</button>
        Cuando hago las cosas bien me felicito a mí
        mismo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>8</button>
        Cuando los demás me provocan
        intencionadamente soy capaz de no responder.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>9</button>
        Me fijo en el lado positivo de las cosas, soy
        optimista.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>10</button>
        Controlo mis pensamientos, pienso lo que de
        verdad me interesa.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>11</button>
        Hablo conmigo mismo, en voz baja claro.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>12</button>
        Cuando me piden que diga o haga algo que me
        parece inaceptable me niego a hacerlo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>13</button>
        Cuando alguien me critica injustamente me
        defiendo adecuadamente con el diálogo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>14</button>
        Cuando me critican por algo que es justo lo acepto
        porque tienen razón.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>15</button>
        Soy capaz de quitarme de la mente las
        preocupaciones que me obsesionan.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>16</button>
        Me doy cuenta de lo que dicen, piensan y sienten
        las personas más cercanas a mí (amigos,
        compañeros, familiares…)

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>17</button>
        Valoro las cosas buenas que hago.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>18</button>
        Soy capaz de divertirme y pasármelo bien allí
        donde esté.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>19</button>
        Hay cosas que no me gusta hacer pero sé que hay
        que hacerlas y las hago.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>20</button>
        Soy capaz de sonreír.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>21</button>
        Tengo confianza en mí mismo, en lo que soy
        capaz de hacer, pensar y sentir.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>22</button>
        Soy una persona activa, me gusta hacer cosas.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>23</button>
        Comprendo los sentimientos de los demás.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>24</button>
        Mantengo conversaciones con la gente.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>25</button>
        Tengo buen sentido del humor.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>26</button>
        Aprendo de los errores que cometo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>27</button>
        En momentos de tensión y ansiedad soy capaz de
        relajarme y tranquilizarme para no perder el control
        y actuar apresuradamente.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>28</button>
        Soy una persona realista, con los ofrecimientos
        que hago, sabiendo qué cosa puedo cumplir y qué
        no me será posible hacer.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>29</button>
        Cuando alguien se muestra muy nervioso/a o
        exaltado/a lo calmo y tranquilizo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>30</button>
        Tengo las ideas muy claras sobre lo que quiero.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>31</button>
        Controlo bien mis miedos y temores.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>32</button>
        Si he de estar solo no me agobio por eso.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>33</button>
        Formo parte algún grupo o equipo de deporte o de
        ocio para compartir intereses o aficiones.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>34</button>
        Sé cuáles son mis defectos y cómo cambiarlos.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>35</button>
        Soy creativo, tengo ideas originales y las
        desarrollo.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>36</button>
        Sé qué pensamientos son capaces de hacerme
        sentir feliz, triste, enfadado, altruista, angustiado.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>37</button>
        Me comunico bien con la gente con la que me
        relaciono.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>38</button>
        Soy capaz de comprender el punto vista de los
        demás.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>39</button>
        Identifico las emociones que expresa la gente a mi
        alrededor.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>40</button>
        Soy capaz de verme a mí mismo desde la
        perspectiva de los otros.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>41</button>
        Me responsabilizo de las cosas que hago.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>42</button>
        Me adapto a las nuevas situaciones, aunque me
        cuesten algún cambio en mi manera de sentir las
        cosas.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>43</button>
        Creo que soy una persona equilibrada
        emocionalmente.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>

    <hr class="hr3">

    <p class="fuente">
        <button type="button" class="btn btn-sm rounded-pill text-white numbered mx-3" disabled>44</button>
        Tomo decisiones sin dudar ni titubear demasiado.

        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Nunca
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Algunas Veces
            </label>
        </div>
        <div class="form-check mx-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Siempre
            </label>
        </div>
    </p>



    <button type="button" class="btn fondo text-white mt-3">Enviar Resultados</button>

</form>
